/*Centering of game + border*/
canvas {
	display: block;
	position: absolute;
	border-style: solid;
	border-color: black;
	border-width: 1px;
	margin: auto;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}